body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background: transparent;
    color: white;
}

.hero {
    text-align: center;
    padding: 80px 20px; /* Reduce el padding superior para que el contenido se mueva hacia arriba */
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-top: 50px; /* Ajusta el espacio superior del título para que suba más */
    font-style: italic; /* Aplica el estilo cursivo al encabezado */
}

.hero p {
    font-size: 1.1em;
}

.line-break {
    display: block;
}

@media (max-width: 768px) {
    .hero p {
        font-size: 1.5em; 
    }
}
