<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="design">
            <img src="design1.png" class="design-img design1">
            <img src="design2.png" class="design-img design2">
            <img src="design3.png" class="design-img design3">
            <img src="design4.png" class="design-img design4">
            <img src="design5.png" class="design-img design5">
            <img src="design6.png" class="design-img design6">
        </div>
        <div class="SecondContainer">
            <div class="MainContainer">
                <div class="logo">
                    <img src="logo.png">
                </div>
                <div class="acerca-de">
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                </div>
                <div class="menu">
                    <img src="menu.png">
                </div>
            </div>
            <app-text></app-text>
        </div>
    </div>
    <div class="button">
        <app-button></app-button>
    </div>
</body>
