.container{
    background-color: #734840e2; 
    margin: 0; 
    padding: 20px; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 79px;
    height: auto; 
}

.acerca-de {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.acerca-de div {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 17px; 
    color: #f9f9f9;
    margin: 0 15px; 
    font-weight: bold; 
}

.menu {
    display: none;
}

@media (max-width: 768px) {
    .acerca-de {
        display: none; 
    }
    .menu {
        display: block; 
    }
    .menu img {
        width: 23px; 
        height: auto;
    }
}
