.container {
    background-color: #4f4949; 
    margin: 0; 
    padding: 20px; 
    min-height: 100vh; 
    position: relative; 
    overflow: hidden;
}

.MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.design-img {
    position: absolute;
    opacity: 0.3; 
}

.design1 {
    top: 0.1%;
    left: 2%;
    width: 20%;
}

.design2 {
    top: 0.3%;
    left: 23%;
    width: 62%;
}

.design3 {
    top: 7%;
    left: 15%;
    width: 20%;
}

.design4 {
    top: 15%;
    right: 90%;
    width: 10%;
}

.design5 {
    bottom: 76%;
    left: 69%;
    width: 20%;
}

.design6 {
    top: 15%;
    left: 87%;
    width: 13%;
}

.logo img {
    width: 79px;
    height: auto; 
}

.acerca-de {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.acerca-de div {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 17px; 
    color: #f9f9f9;
    margin: 0 15px; 
    font-weight: bold; 
}

.menu {
    display: none;
}

@media (max-width: 768px) {
    .acerca-de {
        display: none; 
    }
    .menu {
        display: block; 
    }
    .menu img {
        width: 23px; 
        height: auto;
    }
}
