.container {
    background-color: #2f2020;
    margin: -10px;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.SecondContainer {
    background-color: #311a1a00;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.design-img {
    position: absolute;
    opacity: 0.3;
}

.design1 {
    top: 0.1vh;
    left: 2vw;
    width: 20vw;
}

.design2 {
    top: 0.3vh;
    left: 24vw;
    width: 57vw;
}

.design3 {
    top: 12vh;
    left: 15vw;
    width: 19vw;
}

.design4 {
    top: 25vh;
    left: 0.2vw;
    width: 11vw;
}

.design5 {
    top: 3vh;
    left: 70vw;
    width: 18vw;
}

.design6 {
    top: 30vh;
    left: 87vw;
    width: 13vw;
}

.logo img {
    width: 79px;
    height: auto;
}

.acerca-de {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.acerca-de div {
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
    font-size: 17px;
    color: #f9f9f9;
    margin: 0 15px;
    font-weight: bold;
}

.menu {
    display: none;
}

@media (max-width: 768px) {
    .acerca-de {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu img {
        width: 23px;
        height: auto;
    }
    .design2,
    .design3,
    .design5 {
        display: none;
    }
    .design1 {
        top: 0.1vh;
        left: -10vw;
        width: 70vw;
    }
    .design4 {
        top: 30vh;
        right: 80vw;
        width: 23vw;
    }
    .design6 {
        top: 20vh;
        left: 70vw;
        width: 30vw;
    }
}

.button {
    position: absolute;
    right: 45.5vw;
    bottom: 32vh;
    text-align: center;
    z-index: 2;
}

@media (max-width: 768px) {
    .button {
        right: 37vw;
        bottom: 56.5vh;
    }
}

.cards1 {
    position: relative;
    margin-top: -430px; 
    width: 100.5%;
}

.card-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info h1 {
    font-style: italic; 
    margin: 0; 
    font-size: 25px;
}

.card-info p {
    font-size: 12px; 
    line-height: 1.5;
    margin: 0; 
}

.card-content {
    position: relative; 
}

.card-info {
    position: absolute; 
    bottom: 530px; 
    left: 130px; 
}

.button2 {
    position: relative;
    top: -500px; 
    left: -350px;
    text-align: center;
}

.subTitle {
    position: absolute; 
    top: 1160px; 
    left: 150px; 
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-style: italic; 
}

.subTitle h1 {
    font-size: 24px; 
    font-weight: bold; 
    color: #fff; 
}

.cards2 {
    position: relative;
    width: 47vw;     
    height: auto; 
    margin-top: -678px; 
    left: 30px;
}

.card-info2{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info2 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.card-info2 p {
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 12px; 
    text-align: center; 
}

.cards3 {
    position: relative;
    width: 47vw;      
    height: auto; 
    margin-top: -755px; 
    left: 560px;
}

.card-info3{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info3 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.card-info3 p {
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 12px; 
    text-align: center; 
}

.cards4 {
    position: relative;
    width: 32.6%;     
    height: auto; 
    margin-top: -540px; 
    left: 41px;
}
.card-info4{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info4 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.cards5 {
    position: relative;
    width: 33%;     
    height: auto; 
    margin-top: -712px; 
    left: 393px;
}

.card-info5{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info5 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.cards6 {
    position: relative;
    width: 32.6%;     
    height: auto; 
    margin-top: -712px; 
    left: 750px;
}

.card-info6{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info6 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.cards7{
    position: relative;
    width: 49.9%;     
    height: auto; 
    margin-top: -400px; 
    left: 30px;
}

.card-info7{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info7 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.card-info7 p {
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 12px; 
    text-align: center; 
}

.cards8{
    position: relative;
    width: 49.9%;     
    height: auto; 
    margin-top: -755px; 
    left: 560px;
}

.card-info8{
    position: relative;
    bottom: 370px;
    left: 30px;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    color: #fff;
}

.card-info8 h1 {
    font-size: 24px; 
    text-align: center; 
    font-style: italic;
    left: 30px;
    line-height: 1.5;
}

.card-info8 p {
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 12px; 
    text-align: center; 
}

.cards9{
    position: relative;
    margin-top: -540px; 
    width: 100.5%;

    .card-info9{
        position: relative;
        top: -400px;
        left: 100px;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        color: #fff;
    }
    
    .card-info9 h1 {
        font-size: 24px; 
        text-align: left; 
        font-style: italic;
        left: 30px;
        line-height: 1.5;
    }
    
    .card-info9 p {
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 12px; 
        text-align: left; 

    }
}

.card-image img {
    width: 47vw; 
    height: auto;
    top: 500px;
}

.card-image {
    position: relative; 
}

@media (min-width: 769px) {
    .card-image {
        bottom: 427px; 
        left: 532px; 
    }
}

@media (max-width: 768px) {
    .card-image {
        bottom: 900px;  
        left: 147px;  
    }
    .card-image img{
        width: 47vw;
        height: auto;
    }
}

@media (max-width: 768px) {

    .cards1 {
        top: -460px; 
        width: 85vw;
        left: 2%; 
    }

    .cards2 {
        top: -620px;
        width: 85vw;
        left: 2%;
    }

    .cards3 {
        bottom: 760px;
        width: 85vw;
        left: 2%;
    }

    .cards4 {
        bottom: 1115px;
        width: 85vw;
        left: 2%;
    }

    .cards5 {
        bottom: 1212px;
        width: 85vw;
        left: 2%;
    }

    .cards6 {
        bottom: 1310px;
        width: 85vw;
        left: 2%;
    }

    .cards7 {
        bottom: 1600px;
        width: 85vw;
        left: 2%;
    }

    .cards8 {
        bottom: 1743px;
        width: 85vw;
        left: 2%;
    }

    .cards9 {
        bottom: 2100px; 
        width: 85vw;
        left: 2%;

        .card-info9 {
            padding: 15px;
            color: #ffffff;
            left: 30px;  
            top: -570px; 
        }
    
        .card-info9 h1 {
            text-align: left;
            font-style: italic;
            margin-bottom: 2px;
        }
    
        .card-info9 p {
            font-size: 16px;
            margin-top: 2px;
            text-align: left;
        }
    }

    .card-info {
        padding: 15px;
        text-align: left;
        left: 45px;
        font-size: 10px; 
        color: #ffffff; 
        bottom: 1040px;
    }

    .card-info2 {
        padding: 15px;
        color: #ffffff; 
        left: 30px;
        bottom: 570px;
    }

    .card-info2 h1 {
        text-align: left; 
        font-style: italic;
        margin-bottom: 2px;
    }

    .card-info2 p {
        font-size: 16px;
        margin-top: 2px;
        text-align: left;
    }

    .card-info3 {
        padding: 15px;
        color: #ffffff; 
        left: 30px;
        bottom: 570px;
    }

    .card-info3 h1 {
        text-align: left; 
        font-style: italic;
        margin-bottom: 2px;
    }

    .card-info3 p {
        font-size: 16px;
        margin-top: 2px;
        text-align: left;
    }

    .card-info4 {
        padding: 15px;
        color: #ffffff; 
        bottom: 520px;
    }
    .card-info4 h1 {
        text-align: left; 
        font-style: italic;
    }

    .card-info5 {
        padding: 15px;
        font-size: 14px; 
        color: #ffffff;
        bottom: 520px;
    }

    .card-info5 h1 {
        text-align: left; 
        font-style: italic;
    }

    .card-info6 {
        padding: 15px;
        text-align: left;
        font-size: 14px;
        color: #ffffff; 
        bottom: 520px;
    }

    .card-info6 h1 {
        text-align: left; 
        font-style: italic;
    }

    .subTitle {
        position: absolute; 
        top: 1790px; 
        left: 80px; 
    }

    .card-info7 {
        padding: 15px;
        color: #ffffff; 
        left: 30px;
        bottom: 570px;
    }

    .card-info7 h1 {
        text-align: left; 
        font-style: italic;
        margin-bottom: 2px;
    }

    .card-info7 p {
        font-size: 16px;
        margin-top: 2px;
        text-align: left;
    }

    .card-info8 {
        padding: 15px; 
        color: #ffffff; 
        left: 30px;
        bottom: 570px;
    }

    .card-info8 h1 {
        text-align: left; 
        font-style: italic;
        margin-bottom: 2px;
    }

    .card-info8 p {
        font-size: 16px;
        margin-top: 2px;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .button2 { 
        position: relative;
        width: 50px;
        height: auto;
        left: 70px;
        top: -990px;
    }
}
    .card-star {
        position: relative; 
        height: auto;
        bottom: 1075px; 
        left: 45px; 
    }

    .card-star img {
        width: 3vw; 
        height: auto; 
    }