<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="design">
            <img src="design1.png" class="design-img design1" >
            <img src="design2.png" class="design-img design2" >
            <img src="design3.png" class="design-img design3" >
            <img src="design4.png" class="design-img design4" >
            <img src="design5.png" class="design-img design5" >
            <img src="design6.png" class="design-img design6" >
        </div>
        <div class="SecondContainer">
            <div class="MainContainer">
                <div class="logo">
                    <img src="logo.png">
                </div>
                <div class="acerca-de">
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                    <div>Acerca de</div>
                </div>
                <div class="menu">
                    <img src="menu.png">
                </div>
            </div>
            <app-text></app-text>
        </div>
        <div class="cards1">
            <app-cards></app-cards>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="image.png">
              </div>
            <div class="card-info">
                <h1>Propósito</h1>
                <p>Congreso de Tecnologia y Educación <br> Matemática. Se parte del primer congreso <br> de Educacion Matemática del Ecuador. </p>
            </div>
            <div class="button2">
                <app-button2></app-button2>
            </div>
        </div>
        <div class="cards2">
            <app-cards></app-cards>
            <div class="card-info2">
                <h1>Matemáticas</h1>
                <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer <br> congreso de Educacion Matemática del Ecuador. </p>
            </div>
        </div>
        <div class="cards3">
            <app-cards></app-cards>
            <div class="card-info3">
                <h1>Educación</h1>
                <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer <br> congreso de Educacion Matemática del Ecuador. </p>
            </div>
        </div>
        <div class="cards4">
            <app-cards></app-cards>
            <div class="card-info4">
                <h1>Innovación</h1>
            </div>
        </div>
        <div class="cards5">
            <app-cards></app-cards>
            <div class="card-info5">
                <h1>Tecnología</h1>
            </div>
        </div>
        <div class="cards6">
            <app-cards></app-cards>
            <div class="card-info6">
                <h1>Ciencia</h1>
            </div>
        </div>
        <div class="subTitle">
            <h1>Propósito</h1>
        </div>
        <div class="cards7">
            <app-cards></app-cards>
            <div class="card-info7">
                <h1>Aprendizaje Continuo</h1>
                <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer <br> congreso de Educacion Matemática del Ecuador. </p>
            </div>
        </div>
        <div class="cards8">
            <app-cards></app-cards>
            <div class="card-info8">
                <h1>Pensamiento crítico</h1>
                <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer <br> congreso de Educacion Matemática del Ecuador. </p>
            </div>
        </div>
        <div class="cards9">
            <app-cards></app-cards>
            <div class="card-info9">
                <h1>Innovación Educativa</h1>
                <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer <br> congreso de Educacion Matemática del Ecuador. </p>
            </div>
        </div>
    </div>
    <div class="button">
        <app-button></app-button>
    </div>
</body>
