<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Propósito</mat-card-title>
    <mat-card-subtitle>Congreso :v</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://s3-alpha-sig.figma.com/img/5cf0/5d06/ff1e189444b364ae46b17b48b8acd82d?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=e2sUKHVDoTMsB3iUtxA~6TGZw~JI6e~ZkiSjEV7Qt9gefm1mxlbvMgmfSH5nLQ-SgbikQ8UEpogEIuO2JVyZfZumsssAVS6zOH-SnboPLwjpba8kqAAgXdCSOn-zZuUpBz9zzgxzs28pjoG3w2LcOXrnmWx-8PbfP0ptrYTd3MLWvm8jC-diWiS6spE2OlChA1eIoWGKRvalKUbRXS6422DbaAvAB0LWkNoA~92LAqrxcnp6pV53RFgtUYi3dUyTW-Ke0UVa9UvAVuTDraF1-ytra~0ac35CjbAOwLUsqL4O-oKsDseCizopaTYsAUn7XqpyKDMunyHzQ5tJT82-Jw__" alt="Example image">
</mat-card>
